<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Откройте-таблицу-и-изучите-общую-информацию-о-данных" data-toc-modified-id="Откройте-таблицу-и-изучите-общую-информацию-о-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Откройте таблицу и изучите общую информацию о данных</a></span></li><li><span><a href="#Предобработка-данных" data-toc-modified-id="Предобработка-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Предобработка данных</a></span><ul class="toc-item"><li><span><a href="#Удаление-пропусков" data-toc-modified-id="Удаление-пропусков-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Удаление пропусков</a></span></li><li><span><a href="#Обработка-аномальных-значений" data-toc-modified-id="Обработка-аномальных-значений-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Обработка аномальных значений</a></span></li><li><span><a href="#Удаление-пропусков-(продолжение)" data-toc-modified-id="Удаление-пропусков-(продолжение)-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Удаление пропусков (продолжение)</a></span></li><li><span><a href="#Изменение-типов-данных" data-toc-modified-id="Изменение-типов-данных-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Изменение типов данных</a></span></li><li><span><a href="#Обработка-дубликатов" data-toc-modified-id="Обработка-дубликатов-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Обработка дубликатов</a></span></li><li><span><a href="#Категоризация-данных" data-toc-modified-id="Категоризация-данных-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Категоризация данных</a></span></li><li><span><a href="#Шаг-3.-Исследуйте-данные-и-ответьте-на-вопросы" data-toc-modified-id="Шаг-3.-Исследуйте-данные-и-ответьте-на-вопросы-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>Шаг 3. Исследуйте данные и ответьте на вопросы</a></span><ul class="toc-item"><li><span><a href="#3.1-Есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?" data-toc-modified-id="3.1-Есть-ли-зависимость-между-количеством-детей-и-возвратом-кредита-в-срок?-2.7.1"><span class="toc-item-num">2.7.1&nbsp;&nbsp;</span>3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?</a></span></li></ul></li></ul></li><li><span><a href="#Комментарий-студента-❗️-" data-toc-modified-id="Комментарий-студента-❗️--3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Комментарий студента ❗️ </a></span></li><li><span><a href="#-Комментарий-ревьюера-2-✔️-" data-toc-modified-id="-Комментарий-ревьюера-2-✔️--4"><span class="toc-item-num">4&nbsp;&nbsp;</span> Комментарий ревьюера 2 ✔️ </a></span></li><li><span><a href="#Комментарий-студента-❗️" data-toc-modified-id="Комментарий-студента-❗️-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Комментарий студента ❗️</a></span></li><li><span><a href="#-Комментарий-ревьюера-2-✔️" data-toc-modified-id="-Комментарий-ревьюера-2-✔️-6"><span class="toc-item-num">6&nbsp;&nbsp;</span> Комментарий ревьюера 2 ✔️</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#3.2-Есть-ли-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок?" data-toc-modified-id="3.2-Есть-ли-зависимость-между-семейным-положением-и-возвратом-кредита-в-срок?-6.0.1"><span class="toc-item-num">6.0.1&nbsp;&nbsp;</span>3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?</a></span></li></ul></li></ul></li><li><span><a href="#Комментарий-студента-❗️" data-toc-modified-id="Комментарий-студента-❗️-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Комментарий студента ❗️</a></span></li><li><span><a href="#Комментарий-студента-❗️" data-toc-modified-id="Комментарий-студента-❗️-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Комментарий студента ❗️</a></span></li><li><span><a href="#-Комментарий-ревьюера-2-✔️" data-toc-modified-id="-Комментарий-ревьюера-2-✔️-9"><span class="toc-item-num">9&nbsp;&nbsp;</span> Комментарий ревьюера 2 ✔️</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#3.3-Есть-ли-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок?" data-toc-modified-id="3.3-Есть-ли-зависимость-между-уровнем-дохода-и-возвратом-кредита-в-срок?-9.0.1"><span class="toc-item-num">9.0.1&nbsp;&nbsp;</span>3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?</a></span></li></ul></li></ul></li><li><span><a href="#Комментарий-студента-❗️" data-toc-modified-id="Комментарий-студента-❗️-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Комментарий студента ❗️</a></span></li><li><span><a href="#Комментарий-студента-❗️" data-toc-modified-id="Комментарий-студента-❗️-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Комментарий студента ❗️</a></span></li><li><span><a href="#-Комментарий-ревьюера-2-✔️" data-toc-modified-id="-Комментарий-ревьюера-2-✔️-12"><span class="toc-item-num">12&nbsp;&nbsp;</span> Комментарий ревьюера 2 ✔️</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#3.4-Как-разные-цели-кредита-влияют-на-его-возврат-в-срок?" data-toc-modified-id="3.4-Как-разные-цели-кредита-влияют-на-его-возврат-в-срок?-12.0.1"><span class="toc-item-num">12.0.1&nbsp;&nbsp;</span>3.4 Как разные цели кредита влияют на его возврат в срок?</a></span></li></ul></li></ul></li><li><span><a href="#Комментарий-студента-❗️" data-toc-modified-id="Комментарий-студента-❗️-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>Комментарий студента ❗️</a></span></li><li><span><a href="#Комментарий-студента-❗️" data-toc-modified-id="Комментарий-студента-❗️-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>Комментарий студента ❗️</a></span></li><li><span><a href="#-Комментарий-ревьюера-2-✔️" data-toc-modified-id="-Комментарий-ревьюера-2-✔️-15"><span class="toc-item-num">15&nbsp;&nbsp;</span> Комментарий ревьюера 2 ✔️</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#3.5-Приведите-возможные-причины-появления-пропусков-в-исходных-данных." data-toc-modified-id="3.5-Приведите-возможные-причины-появления-пропусков-в-исходных-данных.-15.0.1"><span class="toc-item-num">15.0.1&nbsp;&nbsp;</span>3.5 Приведите возможные причины появления пропусков в исходных данных.</a></span></li><li><span><a href="#3.6-Объясните,-почему-заполнить-пропуски-медианным-значением-—-лучшее-решение-для-количественных-переменных." data-toc-modified-id="3.6-Объясните,-почему-заполнить-пропуски-медианным-значением-—-лучшее-решение-для-количественных-переменных.-15.0.2"><span class="toc-item-num">15.0.2&nbsp;&nbsp;</span>3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.</a></span></li></ul></li><li><span><a href="#Шаг-4:-общий-вывод." data-toc-modified-id="Шаг-4:-общий-вывод.-15.1"><span class="toc-item-num">15.1&nbsp;&nbsp;</span>Шаг 4: общий вывод.</a></span></li></ul></li><li><span><a href="#Комментарий-студента-❗️" data-toc-modified-id="Комментарий-студента-❗️-16"><span class="toc-item-num">16&nbsp;&nbsp;</span>Комментарий студента ❗️</a></span></li><li><span><a href="#Комментарий-студента-❓" data-toc-modified-id="Комментарий-студента-❓-17"><span class="toc-item-num">17&nbsp;&nbsp;</span>Комментарий студента ❓</a></span></li><li><span><a href="#-Комментарий-ревьюера-2-✔️" data-toc-modified-id="-Комментарий-ревьюера-2-✔️-18"><span class="toc-item-num">18&nbsp;&nbsp;</span> Комментарий ревьюера 2 ✔️</a></span></li></ul></div>

# Исследование надежности заемщиков

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируем библиотеку pandas. Считаем данные из csv-файла в датафрейм и сохраним в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd
from IPython.display import display


data = pd.read_csv('/datasets/data.csv')

**Задание 2. Выведем первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведем основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведем количество пропущенных значений для каждого столбца. Используем комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце обработаем на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработаем значения в этом столбце: заменим все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведим медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставим их как есть. Тем более этот столбец не понадобится нам для исследования.

**Задание 8. Выведем перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
# Разделим весь список на должников и не должников
data_debt = data[data['debt']==1]
data_no_debt = data[data['debt']==0]
display(data_debt.head(5))
display(data_no_debt.head(5))

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
14,0,1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127,покупка жилой недвижимости,C,операции с недвижимостью
32,0,4649.910832,34,среднее,1,гражданский брак,1,F,сотрудник,1,139057,на проведение свадьбы,C,проведение свадьбы
38,0,597.881827,25,высшее,0,Не женат / не замужем,4,M,сотрудник,1,192247,образование,C,получение образования
55,0,365286.622650,54,среднее,1,гражданский брак,1,F,пенсионер,1,118514,сыграть свадьбу,C,проведение свадьбы
75,1,2953.151948,38,среднее,1,женат / замужем,0,M,сотрудник,1,81935,операции с недвижимостью,C,операции с недвижимостью

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,total_income_category,purpose_category
0,1,8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,B,операции с недвижимостью
1,1,4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,C,операции с автомобилем
2,0,5623.422610,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,C,операции с недвижимостью
3,3,4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,B,получение образования
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,C,проведение свадьбы

In [23]:

# Сгруппируем эти два списка по количеству детей 
display(data_no_debt.groupby('children')['debt'].count()) #группировка клиентов без долга по категориям
display(data_debt.groupby('children')['debt'].count()) #группировка должников по категориям

children
0    13028
1     4364
2     1858
3      303
4       37
5        9
Name: debt, dtype: int64

children
0    1063
1     444
2     194
3      27
4       4
Name: debt, dtype: int64

In [24]:
# найдем отношение 'должников' и 'не должников' в зависимости от количества детей
data_relation_debt_to_no_debt = data_no_debt.groupby('children')['debt'].count()/data_debt.groupby('children')['debt'].count()
display(data_relation_debt_to_no_debt)

children
0    12.255880
1     9.828829
2     9.577320
3    11.222222
4     9.250000
5          NaN
Name: debt, dtype: float64

In [25]:
# посмотрим как зависит спрос на кредит от количества детей
data['children'].value_counts()

0    14091
1     4808
2     2052
3      330
4       41
5        9
Name: children, dtype: int64

In [26]:
#измерним количество мужчин, женщин и 'XNA' среди клиентов
data['gender'].unique()
data['gender'].value_counts()

F      14092
M       7238
XNA        1
Name: gender, dtype: int64

*среди клиентов банка в 2 раза больще женщин чем мужчин*

In [27]:
# оценим гендерную принадлежность клиентов без долга, в зависимости от количества детей
data_no_debt_male = data_no_debt[data_no_debt['gender'] == 'M' ] 
display(data_no_debt_male['children'].value_counts())
data_no_debt_female = data_no_debt[data_no_debt['gender'] == 'F' ] 
display(data_no_debt_female['children'].value_counts())
data_no_debt_xna = data_no_debt[data_no_debt['gender'] == 'XNA' ] 
display(data_no_debt_xna['children'].value_counts())

0    4099
1    1524
2     736
3     124
4      10
5       2
Name: children, dtype: int64

0    8928
1    2840
2    1122
3     179
4      27
5       7
Name: children, dtype: int64

0    1
Name: children, dtype: int64

In [28]:
# для наглядности используем сводную таблицу
data_no_debt_pivot = data_no_debt.pivot_table(index = 'gender',columns = 'children', values = 'debt', aggfunc = 'count' )
display(data_no_debt_pivot)

children       0       1       2      3     4    5
gender
F         8928.0  2840.0  1122.0  179.0  27.0  7.0
M         4099.0  1524.0   736.0  124.0  10.0  2.0
XNA          1.0     NaN     NaN    NaN   NaN  NaN

In [29]:

# оценим гендерную принадлежность клиентов с долгом, в зависимости от количества детей
data_debt_male = data_debt[data_debt['gender'] == 'M' ] 
display(data_debt_male['children'].value_counts())
data_debt_female = data_debt[data_debt['gender'] == 'F' ] 
display(data_debt_female['children'].value_counts())
data_debt_xna = data_debt[data_debt['gender'] == 'XNA' ] 
display(data_debt_xna['children'].value_counts())

0    471
1    199
2     60
3     10
4      3
Name: children, dtype: int64

0    592
1    245
2    134
3     17
4      1
Name: children, dtype: int64

Series([], Name: children, dtype: int64)

*гендером "XNA" принебрежем, в виду его малого присутствия в выборке*

In [30]:

data_debt_pivot = data_debt.pivot_table(index = 'gender',columns = 'children', values = 'debt', aggfunc = 'count' )
display(data_debt_pivot)

children    0    1    2   3  4
gender
F         592  245  134  17  1
M         471  199   60  10  3

In [31]:
# оценим долю должников по категриям клиентов банка

# для начала отметим сколько клиентов в кадждой категории и сколько клиентов должников, создадим сводную таблицу 
data_cat_children = data.pivot_table(index = 'children', columns= 'debt' ,values = 'days_employed', aggfunc = 'count' )

data_cat_children['|'] = '|' # разделим часть таблицы которая группировала катеогории по статусу задолженности

# добавим столбец с количеством клиентов каждой категории
data_cat_children['all_clients'] = data['children'].value_counts()

# добавим столбец с процентом клиентов в каждой категории от общего числа клиентов банка
data_cat_children['percent_of_category'] = data.groupby('children')['debt'].count()/data['debt'].count()*100

# добавим столбец в котором показано отношение 'должников' и 'не должников' в зависимости от количества детей в процентах
data_cat_children['relation_debt_to_no_debt'] = data_debt.groupby('children')['debt'].count()/data_no_debt.groupby('children')['debt'].count()*100

# считаем долю должников от общего числа клиентов по категориям  в проценте
data_cat_children['percent_of_debt'] = data_debt.groupby('children')['debt'].count()/data.groupby('children')['debt'].count()*100 

display(data_cat_children)

debt,0,1,|,all_clients,percent_of_category,relation_debt_to_no_debt,percent_of_debt
children,,,,,,,
0,13028.0,1063.0,|,14091,66.058788,8.159349,7.543822
1,4364.0,444.0,|,4808,22.539965,10.174152,9.234609
2,1858.0,194.0,|,2052,9.619802,10.441335,9.454191
3,303.0,27.0,|,330,1.547044,8.910891,8.181818
4,37.0,4.0,|,41,0.192209,10.810811,9.756098
5,9.0,NaN,|,9,0.042192,NaN,NaN

In [32]:
# КОД РЕВЬЮЕРА 2

data.groupby('children')['debt'].agg(['count','sum','mean'])

          count   sum      mean
children
0         14091  1063  0.075438
1          4808   444  0.092346
2          2052   194  0.094542
3           330    27  0.081818
4            41     4  0.097561
5             9     0  0.000000

In [47]:

def my_mean(x): return x.mean()*100

# В кач-ве агрегирования можно любую функцию брать.
data.groupby('children')['debt'].agg(['count', 'sum', my_mean])

          count   sum   my_mean
children
0         14091  1063  7.543822
1          4808   444  9.234609
2          2052   194  9.454191
3           330    27  8.181818
4            41     4  9.756098
5             9     0  0.000000

In [48]:


def my_mean(x): return '{:.2%} '.format(x.mean())

data.groupby('children')['debt'].agg(['count', 'sum', my_mean])

          count   sum my_mean
children
0         14091  1063  7.54%
1          4808   444  9.23%
2          2052   194  9.45%
3           330    27  8.18%
4            41     4  9.76%
5             9     0  0.00%

**Вывод:**

- Среди клиентов банка доля **должников** с детьми  в несколько раз  меньше доли клиентов с детьми  **без долга** по каждой категории.

- Наибольшее различие в категории *''3 ребенка''*: разница между **должниками** и **не должниками** 11 раз.

- Также замечено уменьшение спроса на кредит с увеличением количества детей.

- Стоит отметить что в категории *''5 детей''* должников нет совсем и эта катеогория имеет наименьшее количество клиентов.
***
- Среди клиентов банка в 2 раза больше женщин чем мужчин. 
  - Большая часть клиентов без долгов и без детей, поэтому можно предположить, что количественное отличие должников женщин от мужчин обусловлено, по большей мере, их (женщин) большим присутствием в выборке.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [35]:
# посмотрим каие значения принимает столбец 'family_status'
data['family_status'].unique()

array(['женат / замужем', 'гражданский брак', 'вдовец / вдова',
       'в разводе', 'Не женат / не замужем'], dtype=object)

In [36]:
#узнаем количество клиентов по категориям "семейного положения"
data['family_status'].value_counts()

женат / замужем          12261
гражданский брак          4134
Не женат / не замужем     2796
в разводе                 1189
вдовец / вдова             951
Name: family_status, dtype: int64

In [37]:
# используя уже сформированные в предыдущем вопросе датафреймы,
# сгрупируем должников и остальных клиентов банка по категориям "семейное положение"
display(data_no_debt.groupby('family_status')['debt'].count()) #группировка клиентов без долга по категориям
display(data_debt.groupby('family_status')['debt'].count()) #группировка должников по категориям

family_status
Не женат / не замужем     2523
в разводе                 1105
вдовец / вдова             888
гражданский брак          3749
женат / замужем          11334
Name: debt, dtype: int64

family_status
Не женат / не замужем    273
в разводе                 84
вдовец / вдова            63
гражданский брак         385
женат / замужем          927
Name: debt, dtype: int64

In [38]:
#отношение должников и не должников по категориям
family_relation_debt_to_no_debt = data_no_debt.groupby('family_status')['debt'].count()/data_debt.groupby('family_status')['debt'].count()
display(family_relation_debt_to_no_debt)

family_status
Не женат / не замужем     9.241758
в разводе                13.154762
вдовец / вдова           14.095238
гражданский брак          9.737662
женат / замужем          12.226537
Name: debt, dtype: float64

In [39]:
#построим сводную таблицу для наглядности 
family_data_pivot = data.pivot_table(index = 'family_status', columns = 'debt', values = 'days_employed', aggfunc = 'count') # в качестве  значения values, по которым мы хотим увидеть сводную таблицу используем любое название столбца

display(family_data_pivot)

debt                       0    1
family_status
Не женат / не замужем   2523  273
в разводе               1105   84
вдовец / вдова           888   63
гражданский брак        3749  385
женат / замужем        11334  927

In [40]:
# оценим долю должников по категриям клиентов банка

# для начала отметим сколько клиентов в кадждой категории и сколько клиентов должников, создадим сводную таблицу 
data_cat_family = data.pivot_table(index = 'family_status', columns= 'debt' ,values = 'days_employed', aggfunc = 'count' )

data_cat_family['|'] = '|' # разделим часть таблицы которая группировала катеогории по статусу задолженности

# добавим столбец с количеством клиентов каждой категории
data_cat_family['all_clients'] = data['family_status'].value_counts()

# добавим столбец с процентом клиентов в каждой категории от общего числа клиентов банка
data_cat_family['percent_of_category'] = data.groupby('family_status')['debt'].count()/data['debt'].count()*100

# добавим столбец в котором показано отношение 'должников' и 'не должников' в зависимости от семейного статуса в процентах
data_cat_family['relation_debt_to_no_debt'] = data_debt.groupby('family_status')['debt'].count()/data_no_debt.groupby('family_status')['debt'].count()*100

# считаем долю должников от общего числа клиентов по категориям в проценте
data_cat_family['percent_of_debt'] = data_debt.groupby('family_status')['debt'].count()/data.groupby('family_status')['debt'].count()*100 

display(data_cat_family)

debt,0,1,|,all_clients,percent_of_category,relation_debt_to_no_debt,percent_of_debt
family_status,,,,,,,
Не женат / не замужем,2523,273,|,2796,13.107684,10.820452,9.763948
в разводе,1105,84,|,1189,5.574047,7.601810,7.064760
вдовец / вдова,888,63,|,951,4.458300,7.094595,6.624606
гражданский брак,3749,385,|,4134,19.380245,10.269405,9.313014
женат / замужем,11334,927,|,12261,57.479724,8.178931,7.560558

**Вывод:**

- Категории: `в разводе`, `вдовец / вдова`, `женат / замужем` наиболее часто возвращают долг в срок.
- Также отметим что наиболее большая группа `женат / замужем`  
- самые ненадежные категории `Не женат / не замужем` и `гражданский брак`

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [41]:
# построим сводную таблицу для наглядности 
# группируем debt по total_income_category
income_data_pivot = data.pivot_table(index = 'total_income_category', columns = 'debt', values = 'days_employed', aggfunc = 'count') # в качестве  значения values, по которым мы хотим увидеть сводную таблицу используем любое название столбца

display(income_data_pivot)

debt                       0     1
total_income_category
A                         23     2
B                       4660   354
C                      14568  1353
D                        328    21
E                         20     2

In [42]:
#отношение должников и не должников по категориям
income_relation_debt_to_no_debt = data_no_debt.groupby('total_income_category')['debt'].count()/data_debt.groupby('total_income_category')['debt'].count()
display(income_relation_debt_to_no_debt)

total_income_category
A    11.500000
B    13.163842
C    10.767184
D    15.619048
E    10.000000
Name: debt, dtype: float64

In [43]:
# оценим долю должников по категриям клиентов банка

# для начала отметим сколько клиентов в кадждой категории и сколько клиентов должников, создадим сводную таблицу 
data_cat_total_income = data.pivot_table(index = 'total_income_category', columns= 'debt' ,values = 'days_employed', aggfunc = 'count' )

data_cat_total_income['|'] = '|' # разделим часть таблицы которая группировала катеогории по статусу задолженности

# добавим столбец с количеством клиентов каждой категории
data_cat_total_income['all_clients'] = data['total_income_category'].value_counts()

# добавим столбец с процентом клиентов в каждой категории от общего числа клиентов банка
data_cat_total_income['percent_of_category'] = data.groupby('total_income_category')['debt'].count()/data['debt'].count()*100

# добавим столбец в котором показано отношение 'должников' и 'не должников' в зависимости от семейного статуса в процентах
data_cat_total_income['relation_debt_to_no_debt'] = data_debt.groupby('total_income_category')['debt'].count()/data_no_debt.groupby('total_income_category')['debt'].count()*100

# считаем долю должников от общего числа клиентов по категориям в проценте
data_cat_total_income['percent_of_debt'] = data_debt.groupby('total_income_category')['debt'].count()/data.groupby('total_income_category')['debt'].count()*100 

display(data_cat_total_income)

debt,0,1,|,all_clients,percent_of_category,relation_debt_to_no_debt,percent_of_debt
total_income_category,,,,,,,
A,23,2,|,25,0.117200,8.695652,8.000000
B,4660,354,|,5014,23.505696,7.596567,7.060231
C,14568,1353,|,15921,74.637851,9.287479,8.498210
D,328,21,|,349,1.636116,6.402439,6.017192
E,20,2,|,22,0.103136,10.000000,9.090909

**Вывод:**

- Наибольшее число клиентов банка относятся к `C` средней категории дохода. В этой же категории **наибольшее относительное число должников**.
- Меньшее число клинтов наблюдается в категориях `D`, `E` - ниже среднего.
- Также в категориях выше среднего наблюдается уменьшение клиентов (`B` и `A`). Однако в категории `В` людей больше чем в `D`
- Судя по долям должников, отсторитрованных по уровню дохода, видно что, категории `D` и `B` выплачивают долг в срок чаще остальных.
- Самая надежная категория - `"D" - 6,02%`
- Самая ненадежная категория - `"E" - 9,09%`
- На мой взгляд нельзя сравнивать данные категории, так как их процентная доля в общем числе клиента слишком различна.

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [44]:
# построим сводную таблицу для наглядности 
purpose_data_pivot = data.pivot_table(index = 'purpose_category', columns = 'debt', values = 'days_employed', aggfunc = 'count') # в качестве  значения values, по которым мы хотим увидеть сводную таблицу используем любое название столбца

display(purpose_data_pivot)

debt                         0    1
purpose_category
операции с автомобилем    3879  400
операции с недвижимостью  9971  780
получение образования     3619  369
проведение свадьбы        2130  183

In [45]:
#отношение должников и не должников по категориям
purpose_relation_debt_to_no_debt = data_no_debt.groupby('purpose_category')['debt'].count()/data_debt.groupby('purpose_category')['debt'].count()
display(purpose_relation_debt_to_no_debt)

purpose_category
операции с автомобилем       9.697500
операции с недвижимостью    12.783333
получение образования        9.807588
проведение свадьбы          11.639344
Name: debt, dtype: float64

In [46]:
# оценим долю должников по категриям клиентов банка

# для начала отметим сколько клиентов в кадждой категории и сколько клиентов должников, создадим сводную таблицу 
data_cat_purpose = data.pivot_table(index = 'purpose_category', columns= 'debt' ,values = 'days_employed', aggfunc = 'count' )

data_cat_purpose['|'] = '|' # разделим часть таблицы которая группировала катеогории по статусу задолженности

# добавим столбец с количеством клиентов каждой категории
data_cat_purpose['all_clients'] = data['purpose_category'].value_counts()

# добавим столбец с процентом клиентов в каждой категории от общего числа клиентов банка
data_cat_purpose['percent_of_category'] = data.groupby('purpose_category')['debt'].count()/data['debt'].count()*100

# добавим столбец в котором показано отношение 'должников' и 'не должников' в зависимости от семейного статуса в процентах
data_cat_purpose['relation_debt_to_no_debt'] = data_debt.groupby('purpose_category')['debt'].count()/data_no_debt.groupby('purpose_category')['debt'].count()*100

# считаем долю должников от общего числа клиентов по категориям в проценте
data_cat_purpose['percent_of_debt'] = data_debt.groupby('purpose_category')['debt'].count()/data.groupby('purpose_category')['debt'].count()*100 

display(data_cat_purpose)

debt,0,1,|,all_clients,percent_of_category,relation_debt_to_no_debt,percent_of_debt
purpose_category,,,,,,,
операции с автомобилем,3879,400,|,4279,20.060007,10.311936,9.347978
операции с недвижимостью,9971,780,|,10751,50.400825,7.822686,7.255139
получение образования,3619,369,|,3988,18.695795,10.196187,9.252758
проведение свадьбы,2130,183,|,2313,10.843373,8.591549,7.911803

**Вывод:**

- Наиболее часто кредит берут на **недвижимость**. Поэтому и количество должников в этой категории самое большое, однако,  относительное количество должников в этой категории меньше чем в других.
- Самые рискованые категории: кредит на **автомобиль** и **образование**.
- **Проведение свадьбы** самая маленькая категория с хорошим показателем не просроченных долгов.
- Судя по долям должников, отсторитрованных по цели кредита, видно что, категории `операции с недвижимостью` и `проведение свадьбы` выплачивают долг в срок чаще остальных.
- Самая надежная категория - `"операции с недвижимостью" - 7,25%`
- Самая ненадежная категория - `"операции с автомобилем" - 9,35%`

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* 

- Пропущены значения в столбцах *стажа* и *месячной зарпаты*. Причем их количство совпадает. Основываясь на этом факте и на том что, тема зарплаты в нашей стране в какой то степени табуирована, можно предположить что эти пропуски неслучайны, они связвны с другими столбцами и сами с собой.
- Как уже ранее говорилось, одна из причин пропусков может быть табуированность темы зарплаты.
- Наличие категории пенсионеры и безработные 
- Кто то может не помнить свой стаж.
- Возможно кто то работает неофициально или совмещает официальную и неофициальную работу, от этого появились проблемы с заполнением пропущенных значений.

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* 

Так как пропущенные значения являются количественными переменными, их следует заполнить характерными значениями. Среденее арифметичские здесь не подойдет, потому что экстремальные значения могут сильно исказить среднее значение. Выбираем медиану, причем находим ее для каждого сегмента в отдельности, иак характерные значения будут близки к вероятно реальным пропущеным.

### Шаг 4: общий вывод.

Есть определенная взаимосвязь между семейным положением, уровнем дохода, количеством детей, целью кредита и возвратом денег в срок.

Наибольшее влияние на поздний срок оплаты долга влияют: **количество детей** и **цель**. В меньшей мере **семейное положение** и на последнем  месте **уровень дохода**.



Самые рискованные категории клиентов:
- с целью покупки авто - `9,35%` процент должников в данной категории.
- Клиенты с уровнем дохода `E` - `9,09%` процент должников в данной категории.
- Категория `Не женат / не замужем` - `9,76%` процент должников в данной категории.
-Наибольшие риски для категории с количеством детей ** 4** - `9,75%` процент должников в данной категории.

Самые надежные категории клиентов:
- На покупку недвижимости - `7,25%` процент должников в данной категории.
- Категория доходности "D" - `6,02%` процент должников в данной категории.
- `вдовец / вдова` - `6,62%` процент должников в данной категории.
- Бездетные - `7,54%` процент должников в данной категории.    
    
    
- Наиболее репрезентативен анализ по целям, так как в этих выборках процент содержания в общем числе клиентов распределен более-менее сопоставимо. Остальные варианты сложно считать достоверными из-за малого присутствия в выборке.